.factura{    
    margin-top: 1%;
    margin-bottom: 1%;
    border-color: #ec7c26;
    border-width: 5%;
    border-style: solid; 
    background-color: white;   
}

.titulo{
    text-align: center;
    color: #ec7c26; 
}

.encabezado{
    background-color: #ec7c26;    
    justify-content: right;    
}

.facturatext{    
    text-align: center;        
    margin-right: 10% ;
    background-color: white;
}





