<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kudala</title>
  <link rel="stylesheet" href="ProductoStyle.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="MenuStyle.css">
  <h1>Kudala</h1>
</head>
<body>
  <nav>
    <a href="#">Inicio</a>
    <a href="#">Subasta</a>
    <a href="#">Compra</a>
    <a href="#">Usuario</a>
    <a href="#">Nosotros</a>
    <div class="animation start-home"></div>
  </nav>

   
    <div class="container">
  
      <div class="product-container main-product-container">
        
        <div class="product-left-container">
          <img src="https://cdn-3.expansion.mx/95/6c/722abfb544dcb4a46b9ca967a1ef/istock-499925476.jpg" alt="" width="540"/>
        
        </div>
        
        <div class="product-col-container">
          <p class="product-info-meta">id 100098746</p>
          <h1 class="product-page">Coca-Cola Original</h1>
          <p>
            <b>Descripción</b><br/>
            En venta ua deliciosa coca-cola rica, sabrosa y deliciosa.
          </p>
          
          <p class="product-price">
            <b>Precio:</b> 
            <span class="price">$78.000</span>

            <span class="product-price-meta" style="float:right;">
              Sin envío. 
            </span>
          </p>
          
          <p>
            <span class="quantity">Cantidad(1)</span>
            <button>Agregar al carrito</button>
            <br clear="both"/>
          </p>
          
        </div>
    
      </div>
  
      <br clear="all"/>
    </div>
    <footer>
      <h4>Kudala Store</h4>
    </footer>
  
</body>
</html>


