<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kudala</title>
	<link rel="stylesheet" type="text/css" href="ProductosStyle.css">
	<link rel="stylesheet" type="text/css" href="MenuStyle.css">
	<h1>Kudala</h1>
</head>
<body>
	<nav>
		<a href="#">Inicio</a>
		<a href="#">Subasta</a>
		<a href="#">Compra</a>
		<a href="#">Usuario</a>
		<a href="#">Nosotros</a>
		<div class="animation start-home"></div>
	</nav>

 	<div id="columns" class="columns_3">

  		<figure>
  			<img src="https://http2.mlstatic.com/D_NQ_NP_922766-MPE49243013479_032022-O.webp">
			<figcaption>Carrito barato</figcaption>
    		<span class="price">$100.000.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>

		<figure>
  			<img src="https://exitocol.vtexassets.com/arquivos/ids/11321750-800-auto?v=637752674642700000&width=800&height=auto&aspect=true">
			<figcaption>Bicleta</figcaption>
    		<span class="price">$700.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>

		<figure>
  			<img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/991/977/products/dfkjgkdfjg1-5b8eb2379353ab14db16138365916214-640-0.jpg">
			<figcaption>Funko Pop Mr. Burns</figcaption>
    		<span class="price">$90.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>

		<figure>
  			<img src="https://www.alkosto.com/medias/4548736127722-001-750Wx750H?context=bWFzdGVyfGltYWdlc3wyNjcyMTd8aW1hZ2UvanBlZ3xpbWFnZXMvaDU2L2g4MC8xMDc1NTk3MTI4NTAyMi5qcGd8MGI5YWM5NmE4YWZjNDU4OTM3YjcyNTJkMDgxODM3YWEyYzYyYjUxNzAyMDkzYWE3ZTMwNjhmYTk0MWUyMjk4NA">
			<figcaption>Televisor Sony</figcaption>
    		<span class="price">$2.000.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>

		<figure>
  			<img src="https://exitocol.vtexassets.com/arquivos/ids/12295317-800-auto?v=637843579942570000&width=800&height=auto&aspect=true">
			<figcaption>Escritorio</figcaption>
    		<span class="price">$259.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>

		<figure>
  			<img src="https://exitocol.vtexassets.com/arquivos/ids/11628880-1600-auto?v=637783943962200000&width=1600&height=auto&aspect=true">
			<figcaption>Celular</figcaption>
    		<span class="price">$759.000</span>
  		  	<a class="button" href="#">Comprar</a>
		</figure>


	
	</div>
</body>
</html>





